.ustmenubutton1 {
    background-image: url('Scripts/resim/iconlar/buttonsil.png');
    background-repeat:no-repeat;
    color:black;
    float:right;
    margin-left: 0px;
        border:0px solid black;
}
.ustmenubutton2 {
    background-repeat:no-repeat;
    background-image: url('Scripts/resim/iconlar/buttonsil.png');
    color: black;
    float: right;
    margin-left: 0px;
    border: 0px solid black;
}
.ustmenubutton3 {
    background-image: url('Scripts/resim/iconlar/buttonsil.png');
    background-repeat:no-repeat;
    color:black;
    float:right;
    margin-left: 0px;
        border:0px solid black;
}