body {
}
.baslik
        {
            background-color: #627A96; 
            color: #FFFFFF;
            width:100%;
            padding:5px 0px 0px 0px;
            text-align:center;
            height:25px;

        }
.buttonkayit
        {
            width:82px;
            height:30px;
            background-color:white;
            background-image:url('demirbaskayıtbuttonn.png');
            background-repeat:no-repeat;
            background-position:left;
            text-align:right;
            margin:0px 0px 0px 0px;
        }
.butongec
{
    padding:5px 10px 5px 10px;
    background-color:#5D7B9D;
    color:white;
    text-decoration:none;
    font-family:Calibri;
    font-size:15px;
    float:right;
    margin-right:5px;
}
